<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>{{ if isset .Params "date" }}
			<div class="meta">Posté le {{ .PublishDate.Format "02/01/2006 à 15:04" }} &mdash; Modifié le {{ .Lastmod.Format "02/01/2006 à 15:04" }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>{{end}}
			<div class="meta">{{ partial "share-buttons.html" . }}</div>
		</div>

		{{ if .Params.Image }}
		{{ $path := "images/post/" }}
		{{ $img := print $path .Params.Image }}
		<img src="{{ $img | absURL }}" style="width: 100%;" alt="main img: {{ .Title | markdownify }}">
		{{ end }}

		<div class="markdown">
			{{ .Content }}
		</div>

		<br />
		<div class="meta">{{ partial "share-buttons.html" . }}</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="flat">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
		{{- $.Scratch.Set "isDisqus" true -}}

		<!-- Disable if content type is excluded in config -->
		{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- end -}}

		<!-- Check if content has flag to enable/disable disqus explicitly -->
		{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
		{{- $.Scratch.Set "isDisqus" true -}}
		{{- end -}}

		<!-- Check if disqus short name is given -->
		{{ if not .Site.DisqusShortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>

</html>
