<div class="footer wrapper">
	<nav class="nav">
		<div>Copyright @ 2020 Damien Liccia</div>
	</nav>
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
