<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else if .IsPage -}}
	<title>{{ $title }}</title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
	<meta name="robots" content="index">
	<link rel="canonical" href="{{ .Site.Params.url_website }}{{ .Permalink | absURL }}" />

	<link rel="shortcut icon" href="{{ `images/logo/favicon.ico` | absURL }} " type="image/x-icon">
	<link rel="icon" href="{{ `images/logo/favicon.ico` | absURL }} " type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ "<!-- Allow Twitter cards -->" | safeHTML }}
	{{ $path := "images/post/" }}
	{{ $img := print $path .Params.Image }}

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@{{.Site.Params.twitter}}" />
	<meta name="twitter:creator" content="@{{.Site.Params.twitter}}" />
	<meta name="twitter:title" content="{{- if .IsHome -}}{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }}{{- else if .IsPage -}}{{ $title }}{{- else -}}{{ $title }} - {{ $siteTitle }}{{ end }}" />
	<meta name="twitter:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<meta name="twitter:image" content="{{ .Site.Params.url_website }}{{ if .IsPage }}{{ $img | absURL }}{{ else }}{{ .Site.Params.twitter_site_ban | absURL }}{{ end }}" />

	{{ "<!-- Allow Facebook cards -->" | safeHTML }}
  <meta property="og:url" content="{{ .Site.Params.url_website }}{{ .Permalink | absURL }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{- if .IsHome -}}{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }}{{- else if .IsPage -}}{{ $title }}{{- else -}}{{ $title }} - {{ $siteTitle }}{{ end }}" />
  <meta property="og:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <meta property="og:image" content="{{ .Site.Params.url_website }}{{ if .IsPage }}{{ $img | absURL }}{{ else }}{{ .Site.Params.twitter_site_ban | absURL }}{{ end }}" />

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:200,300" rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if isset .Site.Params "customcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
	{{ end }}
	{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)" {{ end }} />
	{{- if isset .Site.Params "customdarkcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)" {{ end }} />
	{{- end }}
	{{- end }}

	{{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
	<script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
	{{ end }}
	<script src="{{ .Site.BaseURL }}js/main.js"></script>
	{{- if isset .Site.Params "customjs" -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
	{{- end }}

	{{ if .IsPage }}
	  {{ "<!-- Données structurées Google -->" | safeHTML }}
	  <script type="application/ld+json">
	    {
	      "@context": "https://schema.org",
	      "@type": "BlogPosting",
	      "mainEntityOfPage": {
	        "@type": "WebPage",
	        "@id": "{{ .Site.Params.url_website }}{{ .Permalink | absURL }}"
	      },
	      "headline": "{{ .Title }}",
	      "image": [
	        "{{ .Site.Params.url_website }}{{ $img | absURL }}"
	      ],
	      "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z" }}",{{ if isset .Params "lastmod" }}
	      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z" }}",{{ end }}
	      "author": {
	        "@type": "Person",
	        "name": "Damien Liccia"
	      },
	      "publisher": {
	        "@type": "Organization",
	        "name": "Damien Liccia",
	        "logo": {
	          "@type": "ImageObject",
	          "url": "https://damienliccia.com/images/logo/logo.png",
	          "height" : "113",
	          "width" : "113"
	        }
	      },
	      "description": "{{ .Description }}"
	    }
	  </script>
	  {{ end }}

</head>
